In [4]:
mylist = ['A','B','C']

In [6]:
import pandas as pd
import numpy as np

# Set the random seed for reproducibility
np.random.seed(0)

# Create a DataFrame with random data
num_rows = 10
num_columns = 5
random_data = np.random.rand(num_rows, num_columns)
df = pd.DataFrame(random_data, columns=[f'Column_{i+1}' for i in range(num_columns)])

# Display the DataFrame
df

   Column_1  Column_2  Column_3  Column_4  Column_5
0  0.548814  0.715189  0.602763  0.544883  0.423655
1  0.645894  0.437587  0.891773  0.963663  0.383442
2  0.791725  0.528895  0.568045  0.925597  0.071036
3  0.087129  0.020218  0.832620  0.778157  0.870012
4  0.978618  0.799159  0.461479  0.780529  0.118274
5  0.639921  0.143353  0.944669  0.521848  0.414662
6  0.264556  0.774234  0.456150  0.568434  0.018790
7  0.617635  0.612096  0.616934  0.943748  0.681820
8  0.359508  0.437032  0.697631  0.060225  0.666767
9  0.670638  0.210383  0.128926  0.315428  0.363711

In [8]:
for seq in range(10):
    print(seq)

0
1
2
3
4
5
6
7
8
9

In [10]:
mylist.append('D')

In [12]:
mylist

['A', 'B', 'C', 'D']

In [14]:
del mylist[3]

In [16]:
mylist

['A', 'B', 'C']

In [18]:
mylist.append('D')

In [23]:
print(not True)

False

print(True)

In [25]:
print(True)

True

In [27]:
print(False)

False

In [31]:
name = "Shan"
if name == "Qasim":
    print("Teacher")
elif name == "Shan":
    print("Staff")
else:
    print("student")

Staff

In [33]:
name = input("Enter Your Name :")
if name == "Qasim":
    print("Teacher")
elif name == "Shan":
    print("Staff")
else:
    print("Student")

Enter Your Name : Amjad

Student

In [47]:
age = int(input("Enter your Age : "))

if age >= 18:
    print("Yes, your are eligible ")
else:
    print("Nope, your're not eligible ")

Enter your Age :  17

Nope , your ' re not eligible

In [43]:
age = int(input("Enter your age: "))

if age >=18:
    print("Yes, You're eligible")
else:
    print("Nope, You're not eligible")

Enter your age:  19

Yes, You're eligible

In [51]:
number = int(input("Enter Ant number that is divisible by 5 :"))
if number % 5 == 0:
    print("hello ")
else:
    print("bye")

Enter Ant number that is divisible by 5 : 9

bye

In [55]:
## A school has following rules for grading system:

##Below 25 - F
##25 to 45 - E
##45 to 50 - D
##50 to 60 - C
##60 to 80 - B
##Above 80 - A
##Ask user to enter marks and print the corresponding grade.

In [63]:
marks = int(input("Enter your marks: "))

if marks > 80 and marks <= 100:
    print("Grade: A")
elif marks >= 60 and marks <= 80:
    print("Grade: B")
elif marks >= 50 and marks < 60:
    print("Grade: C")
elif marks >= 45 and marks < 50:
    print("Grade: D")
elif marks >= 25 and marks < 45:
    print("Grade: E")
elif marks <25 and marks >= 0:
    print("Grade: F")
else:
    print("Invalid Input")

Enter your marks:  81

Grade: A

In [65]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles"]

In [67]:
#     -5        -4           -3         -2          -1 ( right to left)
# ['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']
#    0           1             2         3           4 ( left to right  )

In [69]:
cities[3]

'Denver'

In [71]:
cities[2:4]

['Chicago', 'Denver']

In [73]:
cities[0:2]

['Atlanta', 'Baltimore']

In [75]:
cities.append("Atlanta")

In [77]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Atlanta']

In [81]:
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Atlanta']

In [83]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Atlanta']

In [85]:
cities = cities + "karachi"

TypeError: can only concatenate list (not "str") to list

In [93]:
city = ["karachi"]

In [95]:
cities = cities + city

In [97]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Atlanta',
 'karachi']

In [99]:
cities.pop()

'karachi'

In [101]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Atlanta']

In [105]:
cities.count("karachi")

0

In [107]:
cities.count("Atlanta")

2